.user-msg {
	z-index: 1000;
	color: var(--scores-background-color);
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px 0px 10px;
	font-size: 1.125rem;
	font-family: circular-medium;
	height: 20px;
	width: 300px;
	background-color:var(--font-gray-see-throw-color);
	border-radius: 6px;
	transform: translate(200%, 400%);

	button{
		background-color: var(--scores-background-color);
		color:var(--font-gray-see-throw-color);
		border: 0px;
		border-radius: 15%;
		cursor: pointer;
	}
}