.user-back-office{
    
}

.new-stay { 

    min-height: 100%;

    .new-stay-form {


        .new-stay-form-inputs {

            display: flex;

            gap: 2%;
        }

        .property-inputs {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;

            gap: 2%
        }
   
    }
}

.img-upload-grid{

    margin-top: 25px;
    height: 410px;
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;

    .img-blank:first-child {

        background-color: var(--font-lightgray-color);
        grid-column: 1/2;
        grid-row: 1/-1;
        max-height: 410px;
        &:hover {
            background-color: var(--font-gray-color);
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

    }

    .img-blank {

        background-color: var(--font-lightgray-color);
        max-height: 200px;
        &:hover {
            background-color: var(--font-gray-color);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.new-stay-input-txt-area {
    margin-top: 25px;
}

.new-stay-input-sliders {
    margin-top: 25px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    

    .checkbox-card {
        width: 200px;
        display: flex;


        .switch-marg {
            margin-top: 10px;
            
        }
    }

}

.host-now-btn {
    height: 200px;
    margin: 40px;
    display: flex;
    justify-content: center;
}

.upload-img-txt {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    label {
        font-size: 2rem;
        font-family: circular-book;
        text-align: center;
    }
}

.order-list { 

    width: 96%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

    .order-preview {

        display: flex;
        flex-direction: column;
        padding:15px;
        margin: 10px;
        background-color: var(--main-background-color);
        border:  1px solid var(--font-gray-color);
        border-radius: 20px;


        .order-preview-buyer-img {
            display: flex;
            justify-content: space-between;

            .review-user-img {

                margin-top: 10px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
           
        }
    }
}

.list-container {

    max-width: 75% ;
}