.user-back-office{
    
}

.new-stay { 

    min-height: 100%;

    .new-stay-form {


        .new-stay-form-inputs {

            display: flex;

            gap: 2%;
        }

        .property-inputs {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;

            gap: 2%
        }
   
    }
}

.img-upload-grid{

    margin-top: 25px;
    height: 410px;
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;

    .img-blank:first-child {

        background-color: var(--font-lightgray-color);
        grid-column: 1/2;
        grid-row: 1/-1;
        max-height: 410px;
        &:hover {
            background-color: var(--font-gray-color);
        }

        
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

    }

    .img-blank {

        background-color: var(--font-lightgray-color);
        max-height: 200px;
        &:hover {
            background-color: var(--font-gray-color);
        }

        display: flex;
        justify-content: center;


        input {
            z-index: -1;
            width: 100%;
            height: 100%;
            opacity: 0;
            transform: translateY(-100%);
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.new-stay-input-txt-area {
    margin-top: 25px;
}

.new-stay-input-sliders {
    margin-top: 25px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    

    .checkbox-card {
        width: 200px;
        display: flex;


        .switch-marg {
            margin-top: 10px;
            
        }
    }

}

.host-now-btn {
    height: 200px;
    margin: 40px;
    display: flex;
    justify-content: center;
}

.img-upload-dispay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    label {
        font-size: 1.8rem;
        font-family: circular-book;
        text-align: center;
    }
}

.order-list { 

    width: 96%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

    .order-preview {

        display: flex;
        flex-direction: column;
        padding:15px;
        margin: 10px;
        background-color: var(--main-background-color);
        border:  1px solid var(--font-gray-color);
        border-radius: 20px;


        .order-preview-buyer-img {
            display: flex;
            justify-content: space-between;

            .review-user-img {

                margin-top: 10px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
           
        }
    }
}

.backoffice-list-container {

    max-width: 75%; 
    
    .backoffice-stay-list {

        

        align-items: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        gap: 15px;
        justify-content: space-between;
        margin-bottom: 80px;
        .stay-previw{
            word-wrap: break-word;
        }
    }
}

.backoffice-btn-flex {
    display: flex;
    
}

.backoffice-preview-btn{ 
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    background-color: var(--logo-color);
    color: var(--main-background-color);
    padding: 10px;
    margin: 5px;
    margin-left: 0;
}

.orders-statistics {

    display: flex;
    align-items: flex-start;

    // justify-content: space-evenly;
    gap: 10%;

    margin-bottom: 80px;

    .statistics-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        
    }
    h4 {
        margin-left: 20px;
    }
}

.order-table-head {
    font-weight: 800;
}


