.explore-filter {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 25px;

    >* {
        align-self: flex-end;
    }

    h3 {
        margin: 0;
        padding-bottom: 15px;
    }

    .filter-btns {
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        // align-self: flex-end;
        font-size: 14px;
        cursor: pointer;

        .filter-label-btn {
            display: flex;
            justify-content: center;
            width: fit-content;
            min-width: 80px;
            height: 42px;
            margin: 8px;
            // padding: 0 0.5%;
            border-radius: 25px;
            color: var(--font-dark-color);
            // background-color: var(--btn-background-color);
            border: 1px solid var(--font-gray-color);
            box-shadow: 0 0 2px var(--font-lightgray-color);
            cursor: pointer;
            margin-left: 0;

            span {
                align-self: center;
                margin: 0 24px;
            }
        }

        .filter-label-btn-on {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            width: fit-content;
            font-family: circular-bold;
            min-width: 80px;
            height: 44px;
            margin: 8px;
            border-radius: 25px;
            color: var(--font-dark-color);
            border: 1px solid var(--font-gray-see-throw-color);
            // box-shadow: 0px 4px 10px var(--font-lightgray-color);
            cursor: pointer;
            margin-left: 0;

            span {
                align-self: center;
                margin: 0 24px;
            }

        }

        .filter-form-label1 {
            margin: 5px;
            margin-left: 24px;
        }

        .filter-form-label2 {
            margin: 5px;
            margin-left: 5px;
        }
    }

    .slider-container {
        height: 120px;
        width: 300px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 14%;
        left: 10%;
        z-index: 150;
        // padding-left: 15px;
        border-radius: 10px;
        color: var(--font-dark-color);
        background-color: var(--main-background-color);
        border: 1px solid var(--font-gray-color);
        display: flex;
        flex-direction: column;
        font-family: circular-bold;

        label {
            padding-top: 10px;
        }

        .css-187mznn-MuiSlider-root {

            display: flex;
            align-self: center;
            justify-content: center;
            width: 200px;
            color: var(--font-lightgray-color);
        }

        .price-range {
            width: 100%;
            justify-content: space-between;
            font-family: circular-medium;

            .minmax-price {
                padding: 10px;
            }

        }
    }
}