.explore-page {
    text-align: center;
    grid-column: 2/-2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .explore-filter {
        align-self: center;
    }

}

.list-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.stay-list {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}