


.stay-preview {
    height: 430px;
    width: 280px;
    margin: 10px;
    margin-bottom: 5px;
    margin-top: 0;
    line-height: 18px;  
    h3{
        margin:5px;
        padding:0;
    } 
    p{
        margin:5px;
        padding:0;
    }
}

.locatoing-rating {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    color: rgb(29, 29, 29);
}

.heart-btn {
    z-index: 10;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 70px;
    left: 230px;
    display: flex;
    color:red;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.cycle-btn-container {

    display: flex;
    justify-content: space-between;
    position: relative;
    top: 162px;

}

.next-btn {
    z-index: 10;
    background-color: rgba(29, 26, 33, 0.383);
    border-radius: 50%;
    opacity: 0;
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(233, 225, 232);
    margin-right: 20px;
    cursor: pointer;
}
.back-btn {
    z-index: 10;
    background-color: rgba(29, 26, 33, 0.383);
    border-radius: 50%;
    opacity: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(233, 225, 232);
    margin-left: 9px;
    cursor: pointer;
}



.img-preview {

    border-radius: 20px;
}



// .img-container:hover .heart-btn{
//     opacity: 1;
//     transition: 0.5s;
// }
.img-container:hover .next-btn{
    opacity: 1;
    transition: 0.5s;
}
.img-container:hover .back-btn{
    opacity: 1;
    transition: 0.5s;
}

