.list-container {
    .stay-list {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .stay-preview {
            margin-left: 10px;
            margin-right: 10px;
            height: 370px;
            width: 270px;
            // margin: 10px;
            margin-bottom: 20px;
            margin-top: 0;
            line-height: 18px;
            background-color: rgb(248, 248, 248);
            border-radius: 20px;

            h3 {
                font-size: 18px;
                text-align: left;
                margin-top: 5px;
                padding-left: 5px;
            }

            p {
                font-size: 14px;
                text-align: left;
                margin: 0px;
                padding-left: 5px;
            }

            &:hover {
                box-shadow: 0 0 5px rgba(255, 90, 95, 0.3);
                // background-color: rgb(255, 90, 95);
                // color: rgba(250, 250, 250, 0.9);
                // transition: 0.3s;
            }
        }
    }
}

.locatoing-rating {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    color: rgb(29, 29, 29);
}


.cycle-btn-container {

    display: flex;
    justify-content: space-between;
    position: relative;
    top: 162px;

}

.next-btn {
    z-index: 10;
    background-color: rgba(236, 232, 232, 0.81);
    border-radius: 50%;
    opacity: 0;
    width: 30px;
    height: 30px;
    position: relative;
    top: -340px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(55, 55, 55);
    margin-right: 10px;
    cursor: pointer;
}

.back-btn {
    z-index: 10;
    background-color: rgba(236, 232, 232, 0.81);
    border-radius: 50%;
    opacity: 0;
    width: 30px;
    height: 30px;
    position: relative;
    top: -340px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(55, 55, 55);
    cursor: pointer;
}

.img-preview {
    margin-top: 0;
    border-radius: 20px;
}

.img-container {
    padding: 0;
    margin: 0;
    height: 270px;

    .heart-btn {
        z-index: 10;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: relative;
        top: -270px;
        left: 235px;
        display: flex;
        color: rgb(255, 90, 95);
        font-size: 25px;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }
}

.img-container:hover .next-btn {
    opacity: 1;
    transition: 0.5s;
    animation: next-btn .5s cubic-bezier(.25, .46, .45, .94) both
}

.img-container:hover .back-btn {
    opacity: 1;
    transition: 0.5s;
    animation: back-btn .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes back-btn {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(10px)
    }
}

@keyframes next-btn {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-10px)
    }
}