.amenities-modal {
    position: absolute;
    width: 100vh;
    max-height: 85vh;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);

    border: 1px solid var(--font-lightgray-color);
    border-radius: 20px;
    background-color: var(--card-background-color);
    z-index: 1000;


    .stay-amenities {
        border-radius: 20px;
        padding: 2%;
        display: grid;
        grid-gap: 30px 50px;
        grid-template-columns: 1.5fr 2fr;
        grid-template-rows: 10% 20% 70%;

        .stay-reviews-header {
            grid-column: 1/2;
            grid-row: 1/2;
            position: sticky;
            top: 20px;

        }

        .review-states {
            grid-column: 1/2;
            grid-row: 2/3;
            position: sticky;
            top: 80px;


            .stay-scores {
                display: flex;
                flex-direction: column;
                padding-left: 10px;
            }
        }

        .amenities-list-container {
            display: flex;
            flex-direction: column;
            padding: 5%;
            padding-top: 0;
            height: 90%;
            width: 95%;
            overflow: auto;

            .amenities-list {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    .review-preview-container {
        width: 100%;

        h5 {
            color: var(--font-gray-color);
        }

        p {
            padding-right: 10%;
        }
    }
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 15px;

    span {
        cursor: pointer;
    }

    // .amenities-list-container {
    //     height: 90%;
    //     width: 95%;

    //     .amenities-list {
    //         overflow: auto;
    //         padding-left: 15px;
    //         padding-right: 15px;
    //     }
}


.amenities-screen {
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;

    &.screen-open {
        background-color: var(--font-gray-see-throw-color);
        pointer-events: all;
        z-index: 50;
    }
}