.amenities-modal {
    position: absolute;
    width: 100vh;
    max-height: 85vh;
    // top: 75%;
    right: 50%;
    transform: translatex(50%);
    border: 1px solid var(--font-lightgray-color);
    border-radius: 20px;
    background-color: var(--card-background-color);
    z-index: 1000;

    .stay-amenities {
        border-radius: 20px;
        padding: 2%;
        display: grid;
        grid-gap: 30px 50px;
        grid-template-columns: 1.5fr 2fr;
        grid-template-rows: 10% 20% 70%;

        .amenities-modal-container {
            display: flex;
            flex-direction: column;
            height: 90%;
            width: 95%;
            padding: 5%;
            padding-top: 0;
            overflow: auto;

        }
    }

    .modal-header {
        display: flex;
        justify-content: flex-end;
        padding-top: 15px;
        padding-right: 15px;

        span {
            cursor: pointer;
        }

        .amenities-list-container {
            height: 90%;
            width: 95%;

            // overflow: auto;
            .amenities-list {
                overflow: auto;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }


}

.modal-header {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 15px;

    span {
        cursor: pointer;
    }

}


.amenities-screen {
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;

    &.screen-open {
        background-color: var(--font-gray-see-throw-color);
        pointer-events: all;
        z-index: 50;
    }
}