.rdrDateRangeWrapper {
    width: 100%;

    .rdrDateDisplayWrapper {
        background-color: var(--card-background-color);

        .rdrDateDisplayItemActive {
            border-color: var(--font-gray-see-throw-color);
        }
    }

    .rdrMonthAndYearWrapper {

        .rdrNextPrevButton {
            background-color: --btn-background-color !important;
        }
    }

    .rdrDays {
        .rdrDayNumber {
            span {
                padding: auto;
            }
        }
    }
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: var(--logo-color) !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    color: var(--font-gray-see-throw-color);
}

#\:r3\:-label {
        border-color: var(--logo-color);
        outline-color: var(--logo-color);
        border-radius: 0;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-Focused{
    color:var(--logo-color) !important;
}