.order-modal {
    max-height: fit-content;
    z-index: 1000;
    padding: 20px;
    position: absolute;
    width: 28%;
    right: 50%;
    transform: translate(50%);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border: 1px solid var(--font-lightgray-color);
    border-radius: 20px;
    background-color: var(--main-background-color);
    z-index: 1000;
    // width: 500px;
    // border: 1px solid rgb(221, 221, 221);
    // border-radius: 12px;
    // max-height: 80%;
    // background-color: var(--scores-background-color);

    .order-stay-name {
        font-size: 18px;
        margin-bottom: 0;
        padding-top: 0;
    }



    h4 {
        color: var(--logo-color);
        font-family: circular-bold;
        text-align: center;
        margin: 0;
        padding: 15px 0;
        font-size: 24px;
    }


    .dates-order {
        display: flex;
        gap: 30px;
        padding-top: 15px;
        padding-bottom: 5%;
        box-shadow: inset 0 -0.5px 0 0 var(--font-lightgray-color);

        .check-in-out {
            display: flex;
            gap: 10px;
            font-size: 18px;
            margin: 3px;

            b {
                font-size: 16px;
            }
        }
    }

    .order-guests {
        flex-direction: column;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 5%;
        box-shadow: inset 0 -0.5px 0 0 var(--font-lightgray-color);

        .order-guests-total {
            display: flex;
            gap: 10px;
            margin: 5px;
            font-size: 18px;
        }

        p {
            display: flex;
            gap: 5px;
            margin: 3px;
            font-size: 18px;
        }
    }

    .order-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 0px 0px 20px 0px;
    }

    .order-total-price b {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    // .order-added-msg {
    // }

    .order-modal-btn {
        z-index: 5;
        min-width: 210px;
        max-width: 100%;
        height: 50px;
        border: 1px solid var(--font-dark-color);
        color: var(--font-dark-color);
        font-size: 1rem;
        line-height: 1.43rem;
        font-weight: 600;
        border-radius: 8px;
        margin: 20px 0;
        background-color: var(--main-background-color);
        cursor: pointer;

    }

}