.reviews-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 100px;
    padding: 0;

    .review-preview-container {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 90%;

        h5 {
            color: var(--font-gray-color);
            
        }

        .review-preview-header {

            .review-heading{

                display: flex;
                justify-content: space-between;
                .review-user-img {
                    margin-top: 10px;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
            }
        }

        
    }
}

