.reviews-modal{
    // height: 300px;
    // width: 300px;
    width: 700px;
    border: 2px solid rgba(44, 44, 44, 0.851);
    border-radius: 20px;
    background-color: white;
    z-index: 10;

    // border: 5px solid black;
    // .modal-header{
        
        // }
        
        .stay-reviews{
        height: 500px;
        overflow: auto;
        border-radius: 20px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 10% 20% 70%;

        .stay-reviews-header{
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .review-states{
            grid-column: 1/2;
            grid-row: 2/3;


            .stay-scores{
                display: flex;
                flex-direction: column;
                padding-left: 10px;
            }
        }

        .reviews-list-container{
            display: flex;
            flex-direction: column;
        }

        .review-preview-container{
            width: 100%;
            
            h5{
                color: rgb(113, 113, 113);
            }

            p{
                padding-right: 10%;
            }
        }
    }

    .modal-header span{
        cursor: pointer;
        margin: 10px;
        padding: 10px;
    }

}