.amenities-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: inherit;
    
    .amenity-container {
        height: 60px;
        width: inherit;
        align-items: center;

        .amenity-icon {
            margin-right: 10px;
        }
    }
}