.stay-details-info {
    padding-right: 80px;

    .stay-details-shortly .gray-box-shadow {
        display: flex;
        justify-content: space-between;

        .stay-host-img {
            margin-top: 20px;
            margin-right: 20px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
        .sum-icon-container {
            .sum-icon {
                display: flex;
                justify-content: center;

                svg {
                    align-self: flex-end;
                    margin: 0;
                    padding: 0%;
                }
            }
        }
    }

    h4 {
        display: inline;
    }
}