.stay-details-info {
    padding-right: 80px;

    .stay-details-shortly .gray-box-shadow {
        display: flex;
        justify-content: center;

        .asset-sum-item {
            display: flex;
            flex-direction: row;
            // justify-content: flex-start;
        }
    }

    .sum-icon-container {
        display: flex;
        justify-content: center;

        .sum-icon {
            align-self: center;
            height: 38px;
            width: 38px;
            margin-right: 10px;
        }
    }

    p {
        color: var(--font-gray-color);
        padding-top: 8px;
        margin: 0;
    }

    .stay-host-info {
        display: flex;
        justify-content: space-between;

        .stay-host-img {
            align-self: center;
            width: 5em;
            height: 5em;
            border-radius: 50%;
        }
    }

    h4 {
        display: inline;
    }
}

.stay-details-summery {
    padding: 32px 0;

    h2 {
        margin: 0 0 20px 0;
    }
}

.stay-more-features {
    margin: 0;
    padding: 32px 0;
}

.modal-screen {
    position: fixed;
    transform: translateX(100%);
    transition: transform .0s;
    top: 0;
    right: 0;
    z-index: -100;
    min-height: 100%;
    min-width: 100%;
    background-color: var(--font-gray-see-throw-color);
    opacity: 0;
    transition: opacity .8s;
}

.modal-screen-open  {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    min-height: 100%;
    min-width: 100%;
    background-color: var(--font-gray-see-throw-color);
    transition:  0.8s;
}