// Font Sizes
.fs12 {
    font-size: rem(12px);
}
.fs14 {
    font-size: rem(14px);
}
.fs18 {
    font-size: rem(18px);
}
.fs20 {
    font-size: rem(20px);
}
.fs24 {
    font-size: rem(24px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}
.dark {
    color: var(--font-dark-color)  !important;
}
.static{
    position: static ;
}
// h1,
// h2,
// h3,
// h4,
// h6{
//     font-family: circular-light;
// }
// div{
//     font-family:circular;
// }
// p,
// span{
//     font-family:circular;
// }
.date{
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
}
// flex helpers

.flex {
    display: flex;

    > *.full-flex {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-start {
        justify-content: flex-start;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.align-center {
        align-items: center;
    }
    &.align-end {
        align-items: flex-end;
    }
}

.items-center{
justify-items: center;
}
.border-top{
    border-top:1px solid var(--font-lightgray-color);
}

.page-padding {
    padding-top: 81px;
    min-height: calc(100vh - 100px);
}


.square-ratio {
     aspect-ratio:(1,1);
}

.DateRangePickerInput_arrow {
    display: none;
}

.gray-box-shadow {
    padding-bottom: 5%;
    padding-top: 5%;
    box-shadow: inset 0 -0.5px 0 0 var(--font-lightgray-color);
}
.space{
    margin-bottom: 15px;
}
.hide {
    display: none;
}

.opened{
    display: block;
}

.sticky{
    position: fixed;
    top:50px;
}
