.AppHeader {
    // display: flex;
    // align-items: flex-start;
    // justify-content: space-between;
    top: 0;
    grid-row: 1/2;
    grid-column: 1/-1;
    z-index: 50;
    position: sticky;


    .header {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        width: 100%;
        height: 100%;
        transition: 0.3s;

        .header-container {
            height: 100%;
            grid-column: 2/-2;
            display: flex;
            align-self: center;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            // .searchbar-container {
            //     align-self: flex-end;
            //     // display: flex;
            //     // justify-content: end;
            //     // transition: 0.6s;
            // }
            .header-navbar-container {
                align-self: flex-start;
                display: flex;
                justify-content: end;
                margin-top: 18px;
                transition: 0.6s;
            }

            .long-searchbar {
                align-self: flex-end;
                background-color: var(--card-background-color);
                border-radius: 35px;
                max-width: 575px;
                display: flex;
                justify-content: space-between;
                border: 1px solid var(--font-lightgray-color);
                box-shadow: 0px 2px 5px var(--font-gray-color);
                transition: 0.4s;
                position: sticky;
                top: 50px;
                transition: 0.6s;

                &:hover {
                    box-shadow: 0px 4px 12px var(--font-lightgray-color);
                    transition: 0.4s;
                }

                .searchbar-form {
                    align-self: center;
                    display: flex;
                    max-width: 750px;
                    // margin-left: 5px;
                    gap: 5px;

                    .srchbtn {
                        img {
                            margin-right: 10px;
                            cursor: pointer;
                            padding-top: 2px;
                            align-self: center;
                            height: 47px !important;
                        }

                        &:hover {
                            transform: scale(1.1, 1.1);
                            transition: 0.3s;
                        }
                    }

                    .searchber-form-label {
                        display: flex;
                        height: 50px;
                        flex-direction: column;
                        justify-content: center;
                        align-self: center;
                        width: 125px;
                        text-align: center;
                        border-radius: 35px;
                        background-color: var(--card-background-color);
                        transition: 0.3s;


                        .react-datepicker-wrapper .react-datepicker__input-container {
                            align-self: center;
                            width: auto;
                        }

                        input {
                            text-align: center;
                            max-width: 100px;
                            align-self: center;
                            border: 0px;
                            background-color: var(--card-background-color);
                            border-radius: 35px;
                        }

                        &:hover {
                            transform: scale(1.1, 1.1);
                            background-color: var(--font-lightgray-color);
                            transition: 0.3s;
                        }
                    }
                }
            }

            .header-navbar {
                max-width: 320px;
                font-size: 16px;
                color: var(--main-background-color);
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
                cursor: pointer;

                .nav-btn .host {
                    width: 100px;
                }
            }

            .logo-img-container {
                align-self: flex-start;
                display: flex;
                justify-content: start;
                margin-top: 18px;
                transition: 0.6s;
                width: 260px;
                display: flex;

                .logo-img {
                    height: 50px;
                    align-self: flex-start;
                }
            }

            .short-searchbar {
                align-self: center !important;
                display: flex;
                justify-content: space-between;
                width: 300px;
                padding-right: 2px;
                padding-left: 15px;
                margin: 0;
                padding-bottom: 0;
                transition: 0.6s;

                >* {
                    align-self: center;
                    margin: 0;
                    padding-bottom: 0;
                }

                .srchbtn {
                    display: flex;
                    justify-content: center;

                    img {
                        margin-right: 3px;
                        cursor: pointer;
                        // padding-top: 2px;
                        align-self: center;
                        height: 52px !important;
                    }

                    >* {
                        align-self: center;
                    }
                }

                &:hover {
                    border-radius: 20px;
                    background-color: var(--font-lightgray-color);
                }
            }

            .searchbar-fullHeaderOn {
                // align-self: center;
                // background-color: var(--card-background-color);
                border-radius: 35px;
                // width: 575px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border: 1px solid var(--font-lightgray-color);
                box-shadow: 0px 2px 5px var(--font-gray-color);
                // position: sticky;
                // top: 50px;
                transition: 0.9s;

                &:hover {
                    box-shadow: 0px 4px 12px var(--font-lightgray-color);
                    transition: 0.4s;
                }

                .searchbar-form {
                    align-self: center;
                    display: flex;
                    max-width: 750px;
                    margin-left: 5px;
                    gap: 5px;

                    .srchbtn {
                        img {
                            margin-right: 10px;
                            cursor: pointer;
                            padding-top: 2px;
                            align-self: center;
                            height: 52px !important;
                        }

                        &:hover {
                            transform: scale(1.1, 1.1);
                            transition: 0.3s;
                        }
                    }

                    .searchber-form-label {
                        display: flex;
                        height: 50px;
                        flex-direction: column;
                        justify-content: center;
                        align-self: center;
                        width: 125px;
                        text-align: center;
                        border-radius: 35px;
                        background-color: var(--card-background-color);
                        transition: 0.3s;


                        .react-datepicker-wrapper .react-datepicker__input-container {
                            align-self: center;
                            width: auto;
                        }

                        input {
                            text-align: center;
                            max-width: 100px;
                            align-self: center;
                            border: 0px;
                            background-color: var(--card-background-color);
                            border-radius: 35px;
                        }

                        &:hover {
                            transform: scale(1.1, 1.1);
                            background-color: var(--font-lightgray-color);

                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        .user-navbar {
            background-color: #fff;
            color: var(--font-dark-color);
            cursor: pointer;
            border: 1px solid var(--font-lightgray-color);
            border-radius: 20px;
            padding: 4px 6px 4px 6px;
            gap: 5px;
            display: flex;
            justify-content: center;
            align-items: center;


            svg {
                aspect-ratio: 0.7/1;
            }

            .dehaze {
                margin-left: 5px;
            }

            .red-dot {
                height: 11px;
                width: 11px;
                border-radius: 50%;
                background-color: var(--logo-color);
                position: absolute;
                top: 23%;
                right: 11.1%;
                border: 2px solid white;

            }


            .login-slide-modal {
                color: var(--font-dark-color);
                width: 160px;
                background-color: var(--main-background-color);
                box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
                border: 1px solid rgb(221, 221, 221);
                border-radius: 10px;
                display: none;
                position: absolute;
                top: 65px;
                right: 184px;
                justify-content: center;
                align-items: center;
                padding: 10px 0;

                :first-child {
                    // border-radius: 20px 0 0 0;
                    margin-top: 20px;
                }

                :last-child {
                    margin-bottom: 20px;
                    // border-radius: 0 0 20px 20px;
                }

                .menu-btn-container {
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    justify-content: space-evenly;

                    .login-opt-btn {
                        // margin-top: 5px;
                        // gap: 15px;
                        width: 100%;
                        // margin-left:14px;
                        // border-radius: 20px 20px 20px 20px;
                        display: flex;
                        justify-content: flex-start;

                        .login-opt-btn {
                            margin: 0;
                            gap: 5px;
                            width: 80%;
                            // border-radius: 20px 20px 20px 20px;
                            display: flex;
                            flex-direction: row;
                            height: 1.1em;
                            justify-content: flex-start;
                            margin-left: 20px;
                            // overflow: hidden;
                            // box-sizing: border-box;

                            .noti-icon {

                                position: absolute;
                                top: 12px;
                                right: 10px;
                                color: var(--logo-color)
                            }


                            &:hover {
                                background-color: var(--btn-background-color);

                            }
                        }

                        .nav-btn {
                            cursor: pointer;
                        }

                    }
                }
                .login-slide-modal-open & {

                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 160px;
                    transition: 0.4s;
                    padding: 2px;
                    
                    .noti-tab {

                    color: var(--font-dark-color);
                    width: 200px;
                    background-color: var(--main-background-color);
                    border: 1px solid var(--font-lightgray-color);
                    border-radius: 10px 0 10px 10px;
                    position: absolute;
                    top: 36px;
                    right: 164px;
                    padding: 6px;
                    justify-content: center;
                    align-items: center;
                    
                    .noti-btn {
                        margin: 5px;
                    }
                }

                }

                img {
                    max-height: 50px;
                    cursor: pointer;
                }
            }

        }
    }
}



.full-header {
    height: 75px !important;
    // top:0 !important;
    background-color: var(--card-background-color);
    color: var(--font-dark-color);
    transition: 0.3s;
    width: 100%;
}

input,
label {
    display: block;
}

.user-img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}