@media screen and(max-width:720px) {

    .app {
        grid-template-columns: 1fr 14fr 1fr !important;
        overflow-x: hidden !important;
    }

    .AppHeader {
        box-shadow: 0 2px 2px rgba(180, 180, 180, .3);

        .header {
            display: block;

            .header-container {
                margin: 0 20px;
                padding: 0 !important;

                .logo-img-container {

                    .logo-img {
                        height: 30px;
                    }
                }

                .searchbar-fullHeaderOn {
                    width: 32px;
                    height: 32px;
                    justify-content: center;

                    .short-searchbar {
                        padding: 0;
                        padding-left: 1px;
                        margin: 0;

                        h1 {
                            display: none;
                        }
                    }

                    .srchbtn img {
                        margin: 0;
                        padding: 0;
                        width: 30px;
                        height: 30px !important;
                    }
                }

                .long-searchbar {
                    width: 380px;
                    height: 115px;
                    top: 75px;
                    display: none;

                    .searchbar-form {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;

                        .searchber-form-label.location {
                            order: 1;
                        }

                        .searchber-form-label.Guests {
                            order: 2;
                        }

                        .searchber-form-label.CheckIn {
                            order: 3;
                        }

                        .searchber-form-label.CheckOut {
                            order: 4;
                        }

                        .srchbtn {
                            order: 5;
                        }

                    }
                }



                .header-navbar-container {
                    .header-navbar {
                        .nav-btn {
                            display: none;
                        }
                    }
                }

                .login-page{
                    right: 6%; 
                }
            }
        }
    }

    .home-page {
        .hero-container {
            object-fit: initial;

            .hero-img {
                height: 65vh;
                align-items: center;

            }

            .centered {
                font-size: 26px;
                left: 50%;
            }

            .button {

                top: 60%;
                left: 50%;
                height: 13%;
                width: 45%;
                align-items: center;

                span {
                    font-size: 1.2rem;
                    padding: 0;
                }
            }
        }

        .destinations-container {
            margin-top: 490px;
            width: 100%;

            h3{
                font-size: 20px;  
                margin-bottom: 25px;
            }

            .destinations-cards-container{
                flex-direction: column;
            }
        }

        .home-become-host {
            display: inline; 

            button span{
                font-size: 20px; 
            }
        }

    }

    .explore-page {
        position: relative;
        top: 120px;

        .explore-filter {
            h3 {
                display: none !important;
            }

            .filter-btns {

                flex-wrap: wrap;
            }

            .slider-container {
                position: absolute;
                top: 90px;
                width: 100%;
                left: 0;
            }
        }

        .list-container {
            .stay-list {
                position: relative;
                gap: 0px !important;

                .stay-preview {
                    margin: auto;
                    margin-bottom: 10px;
                }


            }
        }
    }

    .stay-page {
        padding: 0;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        max-width: 350px;

        .stay-name {
            font-size: 15px;
            font-family: circular-medium;
        }

        .stay-info-line {
            display: flex;
            flex-direction: column;

            .info-super-host {
                display: none;
            }
        }

        .stay-gallery {
            margin: 0;
            padding: 0;
            margin-top: 15px;
            height: 1000px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .gallery-img-container {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: center;
                margin: 0;
                padding: 0;
                gap: 10px;

                .img-preview {
                    display: block;
                    align-items: center;
                    width: 350px !important;
                    height: 180px;
                    margin: 0;
                    padding: 0;
                    border-radius: 15px !important;
                    object-fit: fill;
                }
            }
        }

        .stay-details {
            flex-wrap: wrap;
            justify-content: center;

            .stay-details-order {
                order: -1;
                align-self: center;

            }

            .stay-details-info {
                padding: 0;
                margin: 0;

                p {
                    word-wrap: break-word;
                }
            }
        }

        .stay-scores {
            display: flex;
            flex-direction: column;

        }

        .reviews-list-container {
            display: flex !important;
            flex-direction: column;
            grid-gap: 0;

            .review-preview-container {
                p {
                    max-width: 350px;
                    overflow-wrap: break-word;
                }
            }
        }

        .rating-bars-container {
            display: flex;
            flex-direction: column;
            max-width: 350px;

            .bar-container {
                width: 100%;
                display: flex;
                flex-direction: row;
            }
        }

        .amenities-modal {
            width: 350px;
            overflow: auto;
        }

        .reviews-modal {
            width: 350px;
            overflow: auto;

            .modal-header {
                height: 20px;

                span {
                    height: fit-content;
                    margin: 0;
                    padding: 0;
                }
            }

        }

        .review-preview-container {
            margin-bottom: 25px;
        }

        .reviews-modal .stay-reviews {
            display: flex !important;
            flex-direction: column;
            height: auto;
            gap: 15px;
            padding-bottom: 10px;
        }
    }

    .user-back-office {
        .backoffice-nav {
            width: 350px;

            .css-1ujnqem-MuiTabs-root {
                font-size: 14px !important;
            }
        }
    }



    .AppFooter {
        display: none;
    }
}