@media screen and(max-width:720px) {
  
    .app {
        grid-template-columns: 1fr 14fr 1fr !important;
        overflow-x: hidden !important;
    }

    .AppHeader {
        box-shadow: 0 2px 2px rgba(180, 180, 180, .3);

        .header {
            display: block;

            .header-container {
                margin: 0 20px;
                padding: 0 !important;

                .logo-img-container {
                    width: 72px !important;

                    .logo-img {
                        height: 30px;
                    }
                }

                .searchbar-fullHeaderOn {
                    width: 120px;
                    justify-content: space-between;

                    .srchbtn img {
                        margin: 0;
                        padding: 0;
                        width: 30px;
                        height: 30px !important;
                    }
                }

                .long-searchbar {
                    width: 350px;
                    height: 115px;
                    top: 75px;

                    .searchbar-form {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;

                        .searchber-form-label.location {
                            order: 1;
                        }

                        .searchber-form-label.Guests {
                            order: 2;
                        }

                        .searchber-form-label.CheckIn {
                            order: 3;
                        }

                        .searchber-form-label.CheckOut {
                            order: 4;
                        }

                        .srchbtn {
                            order: 5;
                        }

                    }
                }



                .header-navbar-container {
                    .header-navbar {
                        .nav-btn {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .home-page {
        .hero-container {
            .hero-img {
                height: 65vh;
                object-fit: cover;
            }

            .centered {
                font-size: 6vw;
                top: 250px;
            }

            .button {
                font-size: 6vw;
                top: 60%;
                height: 8%;
                width: 55%;
            }
        }

        .destinations-container {
            margin-top: 500px;
        }

        .home-become-host {
            align-items: center;

            .host-hero-img {
                height: 45vh;
                object-fit: cover;
            }

            .text-btn-container {
                position: relative;
                align-items: center;
                height: fit-content;
                left: auto;

                .centered {
                    display: block;
                    font-size: 10vw;
                    padding-bottom: 30px;
                }

                .button {
                    display: block;
                    font-size: 4vw;
                    top: 50%;
                    height: 25px;
                    width: 15vh;
                    margin-top: 70px;
                }
            }
        }
    }

    .explore-page {
        position: relative;
        top: 120px;

        .explore-filter {
            h3 {
                display: none !important;
            }

            .filter-btns {

                flex-wrap: wrap;
            }

            .slider-container {
                position: absolute;
                top: 90px;
                width: 100%;
                left: 0;
            }
        }

        .list-container {
            .stay-list {
                position: relative;
                gap: 0px !important;

                .stay-preview {
                    margin: auto;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .stay-page {
        padding: 0;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        max-width: 350px;

        .stay-name {
            font-size: 15px;
            font-family: circular-medium;
        }

        .stay-info-line {
            display: flex;
            flex-direction: column;
            .info-super-host{
                display: none;
            }
        }

        .stay-gallery {
            margin-top: 24px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .gallery-img-container {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: center;
                margin: 0;
                padding: 0;
                margin-top: 10px;
                gap: 10px;
  
                img {
                    display: block;
                    align-items: center;
                    max-width: 350px !important;
                    border-radius: 15px !important;
                    margin-top: 15px;
                }
            }
        }

        .stay-details {
            flex-wrap: wrap;
            justify-content: center;

            .stay-details-order {
                order: -1;
                align-self: center;

            }

            .stay-details-info {
                padding: 0;
                margin: 0;

                p {
                    word-wrap: break-word;
                }
            }
        }

        .stay-scores {
            display: flex;
            flex-direction: column;

        }

        .reviews-list-container {
            display: flex !important;
            flex-direction: column;
            grid-gap: 0;

            .review-preview-container {
                p {
                    max-width: 350px;
                    overflow-wrap: break-word;
                }
            }
        }

        .rating-bars-container {
            display: flex;
            flex-direction: column;
            max-width: 350px;

            .bar-container {
                width: 100%;
                display: flex;
                flex-direction: row;
            }
        }
    }


    .AppFooter {
        display: none;
    }
}