
@font-face {
    font-family: circular;
    src: url(../../assets/fonts/Circular.ttf) format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: cereal-Light;
    src: url(../../assets/fonts/airbnb-new/AirbnbCerealLight.woff) format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: circular-medium;
    src: url(../../assets/fonts/airbnb-new/AirbnbCerealMedium.woff) format("woff2");
    font-style: normal;
}

@font-face {
    font-family: circular-bold;
    src: url(../../assets/fonts/airbnb-new/AirbnbCerealBold.woff) format("woff2");
    font-style: normal;
}
@font-face {
    font-family: circular-book;
    src: url(../../assets/fonts/airbnb-new/AirbnbCerealBook.woff) format("woff2");
}
@font-face {
    font-family: circular-extra;
    src: url(../../assets/fonts/airbnb-new/AirbnbCerealExtraBold.woff) format("woff2");
}
@font-face {
    font-family: circular-light;
    src: url(../../assets/fonts/airbnb-new/AirbnbCerealLight.woff) format("woff2");
}
